.in_header{
    max-width: 1920px;
    height: 110px;
    padding: 0 80px;
    /* background-color: red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 67px;
    height: 86px;
}

.top_gnb{
    /* background-color: yellow; */
    display: flex;
    justify-content: flex-end;
    margin-right: 37px;
}

.top_gnb a{
    font-size: 13px;
    font-weight: 400;
    color: #B51C31;
    margin-left: 5px;
}

.top_nav:hover>a{
    color: #B51C31;
}

.gnb{
    width: 800px;
    height: 50px;
    /* background-color: orange; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
}

.gnb:hover .sub_nav{
    height: 260px;
}

.gnb:hover .bg_box {
    height: 260px;
}

.top_nav {
    width: 25%;
    height: 100%;
    text-align: center;
    line-height: 50px;
}

.sub_nav {
    width: 100%;
    height: 0;
    margin-top: 19px;
    overflow: hidden;
    transition-duration: 0.5s;
    line-height: 35px;
    font-size: 14px;
    position: relative;
    z-index: 99;
}

.sub_nav a{
    color: #ccc;
}

.sub_nav a:hover{
    color: #cf3e58;
}

.sub_nav>li:nth-child(1){
    padding-top: 5px;
}

.bg_box {
    width: 100%;
    height: 0;
    margin-top: 10px;
    transition-duration: 0.5s;
    background-color: rgba(44, 42, 41, 0.9);
    position: absolute;
    top: 100px;
    left: 0;
}

.mo_bar{
    display: none;
}

/* header end  */

.sec_1_tite{
    color: #fff;
    text-align: center;
}

.sec_1_tite>h3{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 5px;
}

.sec_1_tite p{
    font-size: 25px;
    font-weight: 500;
}

/* section_1 end  */

.menu{
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.menu_con{
    width: 25%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #666;
     background-color: #F9F9F9;
    border-right: 0.5px solid #E5E7EB;
}

.menu_con>p{
    margin-top: 10px;
}

.menu_con:nth-child(1){
    background-color: #983B43;
    color: #fff;
    border: none;
}

/* menu end  */

.sec_3_title{
    max-width: 1920px;
    margin: 0 auto;
    text-align: center;
    padding-top: 70px;
    font-size: 36px;
    font-weight: 700;
    color: #111;
}

.sec_3_menu{
    width: 590px;
    /* background-color: beige; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #666;
}

.sec_3_menu>li{
    height: 42px;
}

.sec_3_menu>li:nth-child(1){
    border-bottom: 1px solid #983B43}


.sec_3_menu>li:nth-child(1) a{
    color: #983B43;
}

/* section_3 end  */

.sec_4_wrap{
    max-width: 1390px;
    margin: 0 auto;
}

.sec_4_con{
    width: 50%;
    display: flex;
    align-items: center;
}

.sec_4_con_text>p:nth-child(1){
    font-size: 20px;
    font-weight: 500;
    color: #983B43;
}

.sec_4_con_text>p:nth-child(3){
    font-size: 16.5px;
    font-weight: 400;
    color: #666;
    margin-top: 10px;
    line-height: 25px;
}

.mo_title{
    display: none;
}

/* section_4 end  */

.footer_wrap{
    padding-top: 30px;
}

.footer_top_wrap{
    max-width: 1730px;
    padding: 0 65px;
    /* border-bottom: 0.5px solid #FFF; */
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    margin: 0 auto;
    padding-bottom: 30px;
}

.footer_top{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: blue; */
    padding-bottom: 30px;
}

.call{
    /* background-color: teal; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.call>p{
    margin-right: 20px;
}

.footer_top_menu{
    display: flex;
    flex-wrap: wrap;
    /* background-color: blue; */
    font-size: 16px;
    font-weight: 500;
}

.footer_top_menu>a{
    margin-right: 18px;
    color: #FFF;
}

.call>p:nth-child(1){
    font-size: 20px;
    font-weight: 500;
}

.call>p:nth-child(2){
    font-size: 30px;
    font-weight: 700;
}

.sns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: green; */
}

.sns_img{
    width: 39px;
    height: 39px;
    margin-right: 20px;
}

.sns_img:nth-child(3){
    margin-right: 0;
}

.footer_bottom{
    max-width: 1730px;
    padding: 50px 65px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    /* background-color: orange; */
    margin: 0 auto;
    font-size: 14px;
    color: rgb(255, 255, 255, 0.5);
    font-weight: 300;
    border-top: 0.5px solid rgb(255, 255, 255, 0.2);
}

.information{
    /* background-color: #571C1F; */
    display: flex;
    justify-content: space-between;
}

.information>p{
    margin-left: 5px;
}


/* ============================================================ 1650px start  */

@media all and (max-width:1650px) {

    .sec_4_con{
        padding-left: 0;
    }

    .sec_4_con_text>p:nth-child(1){
        font-size: 18px;
    }

    .sec_4_con_text>p:nth-child(2){
        font-size: 16px;
    } 
}

/* ============================================================ 1386 start  */


@media  all and (max-width:1386px) {

    .sec_4_con{
        flex-direction: column;
        margin-top: 50px;
    }

    .sec_4_con:nth-child(1){
        margin-top: 0;
    }

    .sec_4_con:nth-child(2){
        margin-top: 0;
    }

    .sec_4_con_text{
        text-align: center;
        margin-top: 0px;
    }

    /* section_4 end  */

    .footer_top{
        width: 70%;
        flex-direction: column;
        align-items: flex-start;
        /* background-color: orange; */
    }

    .footer_top_menu{
       width: 100%;
       /* background-color: red; */
    }

    .call{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .footer_bottom{
        flex-direction: row;
        padding: 0 65px;
        padding-bottom: 50px;
    }

    .information{
        width: 100%;
        flex-direction: column;
        padding-top: 30px;
        line-height: 22px;
    }

    .information>p:nth-child(2){
        display: none;
    }

    .information>p:nth-child(4){
        display: none;
    }

    .information>p:nth-child(6){
        display: none;
    }

    .copyright{
        padding-top: 14px;
    }

}

/* ============================================================ 1280 start  */

@media all and (max-width:1280px) {

    .in_header{
        height: 65px;
        padding: 0 21px;
    }

    .logo{
        width: 40px;
        height: 55.09px;
    }

    .gnb_wrap{
        display: none;
    }

    .mo_bar{
        display: block;
        width: 23px;
        height: 23.74px;
    }
    
    /* header end  */

}

/* ============================================================ 992 start  */

@media all and (max-width:992px) {

    .sec_1_tite>h3{
        font-size: 28px;
    }
    
    .sec_1_tite p{
        font-size: 16px;
    }

    /* section_1 end  */

    .sec_3_title{
        padding-top: 48px;
        font-size: 30px;
    }

    .sec_3_menu{
        width: 337px;
        font-size: 14px;
        margin-top: 24px;
    }

    
    .sec_3_menu>li{
        height: 26px;
    }

    /* section_3 end  */

    .sec_4_con{
        flex-direction: column;
         width: 100%;
    }

    .sec_4_con:nth-child(1){
        margin-top: 0px;
    }

    .sec_4_con:nth-child(2){
        margin-top: 50px;
    }

    .sec_4_con_text{
        text-align: center;
        margin-top: 0px;
    }

    .pc_title{
        display: none;
    }

    .mo_title{
        display: block;
        font-size: 20px;
        color: #983B43;
        font-weight: 500;
    }

    .sec_4_con_text>p:nth-child(3){
        font-size: 14px;
        line-height: 22px;
    }

    /* section_4 end  */

    .footer_top_wrap{
        padding: 0 20px;
    }

    .footer_bottom{
        padding: 0 20px;
        padding-bottom: 50px;
    }


    
}

/* ============================================================ 652 start  */

@media all and (max-width:652px) {

    .menu{
        height: 70px;
    }

    .menu_con{
        width: 50%;
        height: 50%;
        font-size: 14px;
        border: 0.5px solid #E5E7EB;
    }

    .menu_con:nth-child(2){
        border-bottom: none;
    }
    
    .menu_con>p{
        margin-top: 6px;
    }

    /* section_2 end  */

    .common_title{
       padding: 0;

    }

    .sec_4_con_img{
        width: 190px;
    }

    /* section_4 end  */

    footer{
        height: 322px;
    }

    .call{
        margin-bottom: 10px;
    }

    .call>p:nth-child(1){
        font-size: 16px;
    }

    .call>p:nth-child(2){
        font-size: 20px;
    }

    .footer_top_menu{
        width: 56vw;
        font-size: 12px;
    }

    .footer_top_menu>a{
        margin-right: 14px;
    }

    .information{
        width: 100%;
        flex-direction: column;
        padding-top: 20px;
        line-height: 18px;
    }

    .sns_img{
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .footer_bottom{
        font-size: 11px;
        padding-bottom: 0;
    }

    
}